<div class="container">
  <div class="col-12 mb-3">
    <div class="py-2 px-4 bg-light border rounded shadow-sm">
      <h4>Panel de Control</h4>
      <p>Resumen de las operaciones del restaurante.</p>
    </div>
  </div>

  <div class="row text-center mb-3">
    <div class="col-sm-3">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Estado de mesas</p>
        <h4>15/20 Ocupadas</h4>
        <p>Mesas actualmente en uso</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Meseros Activos</p>
        <h4>8</h4>
        <p>Meseros actualmente en turno</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Ordenes de cocina</p>
        <h4>15</h4>
        <p>Órdenes esperando preparación</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Ventas de hoy</p>
        <h4>1.250.000</h4>
        <p>Ingresos totales del día</p>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-6">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Text</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-3 bg-light border rounded shadow-sm">
        <p>Text</p>
      </div>
    </div>
  </div>
</div>
